<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nefu.demo01.mapper.UserMapper">

    <!--    int getLogin(User user);-->
    <select id="getLogin" parameterType="User" resultType="Integer">
        select user_id from t_user where username =#{username} and password = #{password}
    </select>

</mapper>
